body {
    background-color: antiquewhite;
    color: black;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score_container {
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding-bottom: 40px;
}

.game_images {
    padding: 40px;
}

#game_buttons {
    margin-top: 40px;
}

#new_game {
    margin-top: 40px;
}